.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 56px;
  border: none;
  border-radius: 10px;
  font-family: $main-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(90, 153, 208);
  transition: 0.2s;

  &:hover {
    background-color: rgba(90, 153, 208, 0.7);
  }

  &:active {
    transform: scale(1);
  }
}
