.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  font-family: $main-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: $dark-font;
  opacity: 0.8;
}

.form__input {
  margin-top: 8px;
  padding: 21px 36px;
  width: 100%;
  height: 72px;
  border: 1px solid rgba(53, 110, 173, 0.4);
  border-radius: 10px;
  font-family: $main-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: $dark-font;
  outline: none;

  &::placeholder {
    font-family: $main-fonts;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $dark-font;
    opacity: 0.2;
  }

  &--message {
    height: 144px;
    resize: none;
  }
}

.form__button {
  width: 100%;
  margin-top: 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .form__label {
    margin-bottom: 20px;
  }

  .form__input {
    margin-top: 3px;
    padding: 10px 20px;
    height: 50px;

    &--message {
      height: 100px;
    }
  }

  .form__button {
    margin-top: 20px;
  }
}
