.heading {
  margin: 0;
  padding: 0;
  font-family: $main-fonts;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}

@media screen and (max-width: 1024px) {
  .heading {
    font-size: 26px;
    line-height: 36px;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 20px;
    line-height: 30px;
  }
}