.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.social__heading {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-family: $main-fonts;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.social__item {
  margin-bottom: 10px;
}

.social__link {
  display: block;
  padding: 3px;
  font-family: $main-fonts;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }

  &:active {
    color: rgba(255, 255, 255, 0.85);
  }
}

@media screen and (max-width: 768px) {
  .social__heading {
    margin-bottom: 25px;
  }

  .social__list {
    align-items: center;
  }
}
